<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario Profesor</title>
</head>
<body>
<h1 th:text="${profesor.id} != null ? 'Editar Profesor' : 'Nuevo Profesor'"></h1>

<form th:action="@{/profesores}" th:object="${profesor}" method="post">
    <input type="hidden" th:field="*{id}"/>

    <label>Nombre:</label>
    <input type="text" th:field="*{nombre}" required/><br/>

    <label>Especialidad Principal:</label>
    <input type="text" th:field="*{especialidad1}" required/><br/>

    <label>Especialidad Secundaria:</label>
    <input type="text" th:field="*{especialidad2}" placeholder="Opcional"/><br/>

    <button type="submit">Guardar</button>
</form>

<a th:href="@{/profesores}">Volver</a>
</body>
</html>
